/* Styles for Daves Big Score

***Image Font is roboto.......hero text = message at top of web page */

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    color:#E5E7EB;
    background-color: #3882f6;
    border-radius: 24px;
    width: 140px;
    height: 60px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: -10px;
}    

.header {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 30px;
    font-weight: 900;
    padding-left: 150px;
    padding-right: 150px;
    height: 100px;
}

.headerLinks {
    display: flex;
    flex-shrink: 0;
    gap: 35px;
    font-size: 18px;
    font-weight: 500;
    color: #E5E7EB;
}

.headerLeft {
    flex-shrink: 0;
}

.bodyOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    background-color: #1F2937;   
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 80px;
    gap: 40px;

}

.bodyOneLeft {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 250px;
}

.bodyOneLeftSubtext {
    flex-wrap: wrap;
    font-size: 16px;
    font-weight:200;
    margin-right: 10px;
}

.bodyOneRight {
    flex-wrap: nowrap;
    flex-shrink: 0;
    max-width: 560px;
    max-height: auto;    
    box-shadow: 20px;
    margin-left: 10px;
}

.bodyTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    color:#1F2937;
    background-color:whitesmoke;
    font-size: large;
    padding-bottom: 50px;
}

.bodyTwoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 36px;
    font-weight: 800;

}

.bodyTwoImageRow {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-bottom: 25px;
}

.bodyTwoImageGroup {
    border: #1F2937;
    border-style:solid;
    border-color: #3882f6;
    border-radius: 25px;
    border-width: 5px;
    padding: 20px;
    width: 220px;
    text-align: center;
}

.bodyTwoImage {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.bodyThree {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-size: 32px;
    font-weight: 50;
    background-color: #E5E7EB;
    height: 450px;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    font-style: italic;
}

.bodyThreeFooter {
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-style: normal;
    margin-top: 20px;
}