/* Styles for Daves Big Score

***Image Font is roboto.......hero text = message at top of web page */

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    color:#E5E7EB;
    background-color: #3882f6;
    border-radius: 24px;
    width: 140px;
    height: 60px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1;
}    

.header {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 30px;
    font-weight: 900;
    padding-left: 150px;
    padding-right: 150px;
    height: 100px;
}

.headerLinks {
    display: flex;
    flex-shrink: 0;
    gap: 35px;
    font-size: 18px;
    font-weight: 500;
    color: #E5E7EB;
}

.headerLeft {
    flex-shrink: 0;
}

.bodyOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background-color: #1F2937;   
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 80px;
    gap: 40px;

}

.bodyOneLeft {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 250px;
}

.bodyOneLeftSubtext {
    flex-wrap: wrap;
    font-size: 16px;
    font-weight:200;
    width: 350px;
}

.bodyOneRight {
    flex-wrap: nowrap;
    flex-shrink: 0;
    max-width: 520px;
    max-height: auto;    
    box-shadow: 20px;
}

